:root {
    --background: oklch(0.97 0.001 106.424);
    --foreground: oklch(0.216 0.006 56.043);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.216 0.006 56.043);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.216 0.006 56.043);
    --primary: oklch(0.841 0.238 128.85);
    --primary-foreground: oklch(0.216 0.006 56.043);
    --secondary: oklch(0.553 0.013 58.071 / 0.075);
    --secondary-foreground: oklch(0.216 0.006 56.043);
    --muted: oklch(0.923 0.003 48.717);
    --muted-foreground: oklch(0.216 0.006 56.043 / 0.7);
    --accent: oklch(0.985 0.001 106.423);
    --accent-foreground: oklch(0.216 0.006 56.043);
    --destructive: oklch(0.808 0.114 19.571);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.709 0.01 56.259 / 0.4);
    --input: oklch(0.216 0.006 56.043 / 0.15);
    --ring: oklch(0.841 0.238 128.85);
    --chart-1: oklch(0.768 0.233 130.85);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.627 0.265 303.9);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.97 0.001 106.424);
    --sidebar-foreground: oklch(0.216 0.006 56.043);
    --sidebar-primary: oklch(0 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(1 0 0 / 0.85);
    --sidebar-accent: oklch(0.553 0.013 58.071 / 0.1);
    --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
    --sidebar-border: oklch(0.216 0.006 56.043 / 0.125);
    --sidebar-ring: oklch(0.648 0.2 131.684);
    --radius: 0.625rem;
    --font-sans: 'Google Sans Flex', sans-serif;
    --font-serif: 'Lora', serif;
    --primary-light: oklch(0.897 0.196 126.665);
    --primary-dark: oklch(0.841 0.238 128.85);
    --primary-ring: oklch(0.768 0.233 130.85);
}
:root[data-theme="lime-right"] {
    --background: oklch(0.97 0.001 106.424);
    --foreground: oklch(0.216 0.006 56.043);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.216 0.006 56.043);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.216 0.006 56.043);
    --primary: oklch(0.841 0.238 128.85);
    --primary-foreground: oklch(0.216 0.006 56.043);
    --secondary: oklch(0.553 0.013 58.071 / 0.075);
    --secondary-foreground: oklch(0.216 0.006 56.043);
    --muted: oklch(0.923 0.003 48.717);
    --muted-foreground: oklch(0.216 0.006 56.043 / 0.7);
    --accent: oklch(0.985 0.001 106.423);
    --accent-foreground: oklch(0.216 0.006 56.043);
    --destructive: oklch(0.808 0.114 19.571);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.709 0.01 56.259 / 0.4);
    --input: oklch(0.216 0.006 56.043 / 0.15);
    --ring: oklch(0.841 0.238 128.85);
    --chart-1: oklch(0.768 0.233 130.85);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.627 0.265 303.9);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.97 0.001 106.424);
    --sidebar-foreground: oklch(0.216 0.006 56.043);
    --sidebar-primary: oklch(0 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(1 0 0 / 0.85);
    --sidebar-accent: oklch(0.553 0.013 58.071 / 0.1);
    --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
    --sidebar-border: oklch(0.216 0.006 56.043 / 0.125);
    --sidebar-ring: oklch(0.648 0.2 131.684);
    --radius: 0.625rem;
    --font-sans: 'Google Sans Flex', sans-serif;
    --font-serif: 'Lora', serif;
    --primary-light: oklch(0.897 0.196 126.665);
    --primary-dark: oklch(0.841 0.238 128.85);
    --primary-ring: oklch(0.768 0.233 130.85);
}
:root[data-theme="yellow-dark"] {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(1 0 0);
    --card: oklch(0.208 0.042 265.755 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.795 0.184 86.047);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.968 0.007 247.896 / 0.7);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.795 0.184 86.047);
    --chart-1: oklch(0.852 0.199 91.936);
    --chart-2: oklch(0.707 0.165 254.624);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.129 0.042 264.695);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.681 0.162 75.834);
    --radius: 0.625rem;
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'undefined', serif;
    --primary-light: oklch(0.852 0.199 91.936);
    --primary-dark: oklch(0.795 0.184 86.047);
    --primary-ring: oklch(0.681 0.162 75.834);
}
:root[data-theme="orange-dark"] {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(1 0 0);
    --card: oklch(0.208 0.042 265.755 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.705 0.213 47.604);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.968 0.007 247.896 / 0.7);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.705 0.213 47.604);
    --chart-1: oklch(0.75 0.183 55.934);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.129 0.042 264.695);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.646 0.222 41.116);
    --radius: 0.625rem;
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'undefined', serif;
    --primary-light: oklch(0.75 0.183 55.934);
    --primary-dark: oklch(0.705 0.213 47.604);
    --primary-ring: oklch(0.646 0.222 41.116);
}
:root[data-theme="red-dark"] {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(1 0 0);
    --card: oklch(0.208 0.042 265.755 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.637 0.237 25.331);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.968 0.007 247.896 / 0.7);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.637 0.237 25.331);
    --chart-1: oklch(0.704 0.191 22.216);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.129 0.042 264.695);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.577 0.245 27.325);
    --radius: 0.625rem;
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'undefined', serif;
    --primary-light: oklch(0.704 0.191 22.216);
    --primary-dark: oklch(0.637 0.237 25.331);
    --primary-ring: oklch(0.577 0.245 27.325);
}
:root[data-theme="lime-dark"] {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(1 0 0);
    --card: oklch(0.208 0.042 265.755 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.768 0.233 130.85);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.968 0.007 247.896 / 0.7);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.768 0.233 130.85);
    --chart-1: oklch(0.841 0.238 128.85);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.129 0.042 264.695);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.648 0.2 131.684);
    --radius: 0.625rem;
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'undefined', serif;
    --primary-light: oklch(0.841 0.238 128.85);
    --primary-dark: oklch(0.768 0.233 130.85);
    --primary-ring: oklch(0.648 0.2 131.684);
}
:root[data-theme="emerald-dark"] {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(1 0 0);
    --card: oklch(0.208 0.042 265.755 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.696 0.17 162.48);
    --primary-foreground: oklch(0.208 0.042 265.755);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.968 0.007 247.896 / 0.7);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.696 0.17 162.48);
    --chart-1: oklch(0.765 0.177 163.223);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.129 0.042 264.695);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.596 0.145 163.225);
    --radius: 0.625rem;
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'undefined', serif;
    --primary-light: oklch(0.765 0.177 163.223);
    --primary-dark: oklch(0.696 0.17 162.48);
    --primary-ring: oklch(0.596 0.145 163.225);
}
:root[data-theme="sky-dark"] {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(1 0 0);
    --card: oklch(0.208 0.042 265.755 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.685 0.169 237.323);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.968 0.007 247.896 / 0.7);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.685 0.169 237.323);
    --chart-1: oklch(0.746 0.16 232.661);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.129 0.042 264.695);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.588 0.158 241.966);
    --radius: 0.625rem;
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'undefined', serif;
    --primary-light: oklch(0.746 0.16 232.661);
    --primary-dark: oklch(0.685 0.169 237.323);
    --primary-ring: oklch(0.588 0.158 241.966);
}
:root[data-theme="blue-dark"] {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(1 0 0);
    --card: oklch(0.208 0.042 265.755 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.208 0.042 265.755);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.623 0.214 259.815);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.279 0.041 260.031);
    --muted-foreground: oklch(0.968 0.007 247.896 / 0.7);
    --accent: oklch(0.279 0.041 260.031);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.623 0.214 259.815);
    --chart-1: oklch(0.707 0.165 254.624);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.129 0.042 264.695);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.546 0.245 262.881);
    --radius: 0.625rem;
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'undefined', serif;
    --primary-light: oklch(0.707 0.165 254.624);
    --primary-dark: oklch(0.623 0.214 259.815);
    --primary-ring: oklch(0.546 0.245 262.881);
}
:root[data-theme="pink-dark"] {
    --background: oklch(0.13 0.028 261.692);
    --foreground: oklch(1 0 0);
    --card: oklch(0.21 0.034 264.665 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.21 0.034 264.665);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.656 0.241 354.308);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.278 0.033 256.848);
    --muted-foreground: oklch(0.967 0.003 264.542 / 0.7);
    --accent: oklch(0.278 0.033 256.848);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.656 0.241 354.308);
    --chart-1: oklch(0.718 0.202 349.761);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.13 0.028 261.692);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.592 0.249 0.584);
    --radius: 0.625rem;
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'undefined', serif;
    --primary-light: oklch(0.718 0.202 349.761);
    --primary-dark: oklch(0.656 0.241 354.308);
    --primary-ring: oklch(0.592 0.249 0.584);
}
:root[data-theme="purple-dark"] {
    --background: oklch(0.13 0.028 261.692);
    --foreground: oklch(1 0 0);
    --card: oklch(0.21 0.034 264.665 / 0.6);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.21 0.034 264.665);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.606 0.25 292.717);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(1 0 0 / 0.1);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.278 0.033 256.848);
    --muted-foreground: oklch(0.967 0.003 264.542 / 0.7);
    --accent: oklch(0.278 0.033 256.848);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 0.125);
    --input: oklch(1 0 0 / 0.2);
    --ring: oklch(0.606 0.25 292.717);
    --chart-1: oklch(0.702 0.183 293.541);
    --chart-2: oklch(0.828 0.189 84.429);
    --chart-3: oklch(0.871 0.15 154.449);
    --chart-4: oklch(0.852 0.199 91.936);
    --chart-5: oklch(0.685 0.169 237.323);
    --sidebar: oklch(0.13 0.028 261.692);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(1 0 0 / 0.85);
    --sidebar-primary-foreground: oklch(0 0 0 / 0.85);
    --sidebar-accent: oklch(1 0 0 / 0.1);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(1 0 0 / 0.125);
    --sidebar-ring: oklch(0.541 0.281 293.009);
    --radius: 0.625rem;
    --font-sans: 'Geist', sans-serif;
    --font-serif: 'undefined', serif;
    --primary-light: oklch(0.702 0.183 293.541);
    --primary-dark: oklch(0.606 0.25 292.717);
    --primary-ring: oklch(0.541 0.281 293.009);
}